/**
 * Map First Styles
 * 
 * Map First uses Bootstrap (v4.3.1) as a base. This file contains all of the
 * custom styles for Map First, written in LESS CSS.
 *
 * Learn More
 *
 * https://getbootstrap.com/docs/4.3/getting-started/introduction/
 * https://lesscss.org/
 * https://www.waymark.dev/docs/styling-with-css-selectors/
 * 
 * @package Map First
 * @since 1.0.0
 */

/* Nav Bar */
header {
	position: sticky;
	z-index: 1000;

	.navbar {
		.container-fluid {
			padding: 0;
			z-index: 2000;

			a span,
			#navbarHeader a {
				text-decoration: underline !important;
			}

			.navbar-brand {
				margin-right: 0.5rem;

				a {
					text-decoration: underline;
				}

				img {
					margin-right: 0.25rem;
					max-height: 40px;
				}
			}

			.navbar-toggler {
				opacity: 0.5;
			}

			select {
				border: none;
			}
		}
	}
}

/* Home */
body.home {
	.waymark-shortcode {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		height: calc(100% - 60px);

		&.admin-bar {
			top: 95px;
			height: calc(100% - 95px);
		}

		.waymark-map {
			height: 100% !important;
		}
	}
}

/* Collection Archive */
body.archive.tax-waymark_collection {
	.waymark-title {
		background: none;
	}
}

/* Main Content */
main.container-fluid {
	padding: 0;

	article {
		font-size: 17px;
	}
}

/* Leaflet  */
.leaflet-container {
	background: none !important;

	//Popup
	.waymark-info-description {
		height: 200px;
		max-height: unset !important;
		// Pretty up tables
		table {
			width: 100%;
			height: 300;

			border-collapse: collapse;
			border-spacing: 0;

			// Alternate row colors
			tr:nth-child(even) {
				background: #f8f8f8;
			}

			th,
			td {
				padding: 5px;
				border: 1px solid #ccc;
				text-align: left;
			}
		}
	}

	.leaflet-control-container {
		.leaflet-control-zoom {
			display: none;
		}

		.leaflet-control-locate,
		.leaflet-control-fullscreen {
			padding: 4px;
			background: #fff;
			color: #333;
			border-color: #9c9c9c;
		}
	}
}

/* Shortcodes */
.waymark-shortcode {
	margin-bottom: 0 !important;
	border: none !important;

	.waymark-header {
		// padding: 10px 15px !important;
		font-size: 13px;

		.waymark-title {
			font-weight: normal !important;
		}
	}
}

/* Map Single */
body.single-waymark_map {
	// Map Wrapper
	article.type-waymark_map .row.map-first-single {
		// Remove margin from first and last child
		.map-first-map,
		.map-first-sidebar {
			padding: 0;
		}

		.map-first-sidebar {
			.map-first-sidebar-content {
				overflow: auto;
				// height: calc(100vh - 60px);
			}
		}

		legend {
			margin-bottom: 0;
			border-radius: 0;
			padding: 10px !important;
			font-size: 16px !important;
			border: none;
		}

		.waymark-overlays {
			padding-top: 0;
		}

		.waymark-group {
			position: relative;
			padding: 0 !important;

			a {
				line-height: 1.5em;
			}

			.waymark-overlay-content {
				padding: 0;
				display: flex;
				height: 36px;
				line-height: 30px;
				overflow: hidden;
				cursor: pointer;
				border-bottom: 1px solid #ccc;

				&:last-child {
					border-bottom: none;
				}

				&.waymark-overlay-has-image {
					&::after {
						margin-top: 5px;

						content: " 🖼";
					}

					// Alignment tweak
					&:not(.waymark-overlay-has-desc) {
						&::after {
							margin-left: 22px;
						}
					}
				}

				&.waymark-overlay-has-desc::after {
					margin-top: 5px;
					content: " 📝";
				}

				&.waymark-overlay-has-desc.waymark-overlay-has-image::after {
					margin-top: 5px;
					content: " 📝 🖼";
				}

				.waymark-overlay-property-title {
					padding: 5px;
					width: 220px;
					font-size: 14px;

					// Untitled
					em {
						color: #ccc;
					}
				}

				.waymark-overlay-property-type,
				.waymark-overlay-property-image_large_url,
				.waymark-overlay-property-description {
					display: none;
				}
			}
		}

		.waymark-type-heading {
			display: flex;
			height: 40px;
			line-height: 40px;

			.waymark-type-title {
			}

			.waymark-type-preview {
				margin: 0 10px;

				i {
					display: inline-block !important;
					margin-top: -4px;
				}
			}

			.waymark-type-preview .waymark-line-type {
				visibility: hidden;
			}
		}
	}

	// Image
	.waymark-map-thumbnail {
		float: right;
		margin: 0 0 10px 10px;
	}

	//Meta
	.waymark-map-meta {
		.waymark-meta-group-title {
			padding: 15px;
			font-size: 20px;
			text-transform: uppercase;
			text-align: center;
			span {
				display: none;
			}
		}
		.waymark-accordion-group-content {
			display: block !important;

			.waymark-meta-item {
				font-size: 16px;
			}
		}
	}
}

/* Mobile */
@media (max-width: 1024px) {
	.waymark-map {
		max-height: 400px;

		&.waymark-has-gallery {
			// Hide on mobile
			.waymark-gallery-container {
				display: none !important;
			}

			.leaflet-bottom {
				bottom: 0 !important;
			}
		}
	}

	.waymark-overlay-content {
		.waymark-overlay-property-title {
			width: 330px !important;
		}
	}

	.navbar {
		min-height: 65px;
		// line-height: 65px;

		.container-fluid {
			position: relative;
			padding-right: 65px;

			.navbar-brand {
				.site-name {
					display: none;
				}
			}

			.navbar-toggler {
				position: absolute;
				top: 0;
				right: 0;
				padding: 3px 8px;
			}
		}
	}
}
