/**
 * Map First Styles
 * 
 * Map First uses Bootstrap (v4.3.1) as a base. This file contains all of the
 * custom styles for Map First, written in LESS CSS.
 *
 * Learn More
 *
 * https://getbootstrap.com/docs/4.3/getting-started/introduction/
 * https://lesscss.org/
 * https://www.waymark.dev/docs/styling-with-css-selectors/
 * 
 * @package Map First
 * @since 1.0.0
 */

/* Nav Bar */
header {
	position: sticky;
	z-index: 1000;

	.navbar {
		.container {
			padding: 0;
			z-index: 2000;

			a span,
			#navbarHeader a {
				text-decoration: underline !important;
			}

			.navbar-brand {
				margin-right: 0.5rem;

				a {
					text-decoration: underline;
				}

				img {
					margin-right: 0.25rem;
					max-height: 40px;
				}
			}

			.navbar-toggler {
				opacity: 0.5;
			}

			select {
				border: none;
			}
		}
	}
}

/* Home */
body.home {
	.waymark-shortcode {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		height: calc(100% - 60px);

		&.admin-bar {
			top: 95px;
			height: calc(100% - 95px);
		}

		.waymark-map {
			height: 100% !important;
		}
	}
}

/* Collection Archive */
body.archive.tax-waymark_collection {
	.waymark-title {
		background: none;
	}
}

/* Main Content */
main {
	article {
		font-size: 17px;
	}
}

/* Leaflet  */
.leaflet-container {
	background: none !important;
}

/* Shortcodes */
.waymark-shortcode {
	border: none !important;

	.waymark-header {
		font-size: 13px;

		.waymark-title {
			font-weight: normal !important;
		}
	}
}

/* Map Single */
body.single-waymark_map {
	.map-first-single {
		display: flex;

		.map-first-map {
			flex: 2;
		}
	}

	.map-first-sidebar {
		padding: 0 10px;
		width: 280px;
		overflow: auto;

		legend {
			padding: 10px !important;
			font-size: 16px !important;
		}

		.waymark-overlays {
			padding-top: 0;
		}

		.waymark-group {
			position: relative;
			padding: 0 !important;

			a {
				line-height: 1.5em;
			}

			.waymark-overlay-content {
				display: flex;
				height: 40px;
				line-height: 40px;
				overflow: hidden;
				border-bottom: 1px solid #333;
				border-top: 1px solid #333;
				cursor: pointer;

				&.waymark-overlay-has-image::after {
					margin-top: 5px;
					content: " 🖼";
				}

				&.waymark-overlay-has-desc::after {
					margin-top: 5px;
					content: " 📝";
				}

				&.waymark-overlay-has-desc.waymark-overlay-has-image::after {
					margin-top: 5px;
					content: " 📝 🖼";
				}

				.waymark-overlay-property-title {
					padding: 5px;
					width: 220px;
				}

				.waymark-overlay-property-type,
				.waymark-overlay-property-image_large_url,
				.waymark-overlay-property-description {
					display: none;
				}
			}
		}

		.waymark-type-heading {
			display: flex;
			height: 40px;
			line-height: 40px;

			.waymark-type-title {
			}

			.waymark-type-preview {
				margin: 0 10px;

				i {
					display: inline-block !important;
					margin-top: -4px;
				}
			}

			.waymark-type-preview .waymark-line-type {
				visibility: hidden;
			}
		}
	}
}

/* Mobile */
@media (max-width: 1024px) {
	.navbar {
		.container {
			position: relative;
			padding-right: 65px;

			.navbar-toggler {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}
