/**
 * Map First Styles
 *
 * Map First uses Bootstrap (v4.3.1) as a base. This file contains all of the
 * custom styles for Map First.
 *
 * Learn More
 *
 * https://getbootstrap.com/docs/4.3/getting-started/introduction/
 * https://www.waymark.dev/docs/styling-with-css-selectors/
 *
 **/

/* Nav Bar */
header {
	position: sticky;
	z-index: 1000;
}
header .navbar .container {
	padding: 0;
	z-index: 2000;
}
header .navbar a span,
header #navbarHeader a {
	text-decoration: underline !important;
}
header .navbar-brand {
	margin-right: 0.5rem;
}
header a.navbar-brand {
	text-decoration: underline;
}
header .navbar-brand img {
	margin-right: 0.25rem;
	max-height: 40px;
}
header .navbar-toggler {
	opacity: 0.5;
}
header .navbar select {
	border: none;
}

/* Home */
body.home .waymark-shortcode {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: calc(100% - 60px);
}
body.home.admin-bar .waymark-shortcode {
	top: 95px;
	height: calc(100% - 95px);
}
body.home .waymark-shortcode .waymark-map {
	height: 100% !important;
}

/* Collection Archive */
body.archive.tax-waymark_collection .waymark-title {
	background: none;
}

/* Main Content */
main article {
	font-size: 17px;
}

/* Leaflet  */
.leaflet-container {
	background: none !important;
}

/* Shortcodes */
.waymark-shortcode {
	border: none !important;
}
.waymark-shortcode .waymark-header {
	font-size: 13px;
}
.waymark-shortcode .waymark-header .waymark-title {
	font-weight: normal !important;
}

/* Map Single */
body.single-waymark_map .map-first-single {
	display: flex;
}
body.single-waymark_map .map-first-map {
	flex: 2;
}
body.single-waymark_map .map-first-sidebar {
	padding: 0 10px;
	width: 280px;
}
body.single-waymark_map .map-first-sidebar .waymark-overlays {
	padding-top: 0;
}
body.single-waymark_map .map-first-sidebar .waymark-group {
	position: relative;
	padding: 0 !important;
}
body.single-waymark_map .waymark-type-heading {
	display: flex;
	height: 40px;
	line-height: 40px;
}
body.single-waymark_map .waymark-type-heading .waymark-type-title {
}
body.single-waymark_map .waymark-type-heading .waymark-type-preview {
	margin: 0 10px;
}
body.single-waymark_map .waymark-type-heading .waymark-type-preview i {
	display: inline-block !important;
	margin-top: -4px;
}
body.single-waymark_map .waymark-type-preview .waymark-line-type {
	visibility: hidden;
}

body.single-waymark_map .map-first-sidebar .waymark-group a {
	line-height: 1.5em;
}

/* Mobile */
@media (max-width: 1024px) {
	.navbar .container {
		position: relative;
		padding-right: 65px;
	}
	.navbar .navbar-toggler {
		position: absolute;
		top: 0;
		right: 0;
	}
}
