/* Nav Bar */
.navbar .container {
	padding: 0;
}
.navbar a span,
#navbarHeader a {
	text-decoration: underline !important;
}
.navbar-brand {
	margin-right: 0.5rem;
}
a.navbar-brand {
	text-decoration: underline;
}
.navbar-brand img {
	margin-right: 0.25rem;
	max-height: 40px;
}
.navbar-toggler {
	opacity: 0.5;
}
.navbar select {
	border: none;
	/* 	border: 1px dashed rgba(255, 255, 255, 0.7); */
}

/* Home */
/*
body.home article .waymark-shortcode {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;

	height: calc(100% - 60px);
}
body.home.admin-bar article .waymark-shortcode {	
	top: 112px;
	height: calc(100% - 112px);
}
body.home article .waymark-shortcode .waymark-map {	
	height: 100% !important;
}*/

/* Collection Archive */
body.archive.tax-waymark_collection .waymark-title {
	background: none;
}

/* Main Content */
main article {
	font-size: 17px;
}

/* Leaflet  */
.leaflet-container {
	background: none !important;
}

/* Shortcodes */
.waymark-shortcode {
	border: none !important;
}
.waymark-shortcode .waymark-header {
	border: none !important;
}

/* Mobile */
@media (max-width: 1024px) {
	.navbar .container {
		position: relative;
		padding-right: 65px;
	}
	.navbar .navbar-toggler {
		position: absolute;
		top: 0;
		right: 0;
	}
}
